.brand-logo {
  &_name {
    &_blue {
      background: #5dcdf9;
    }
    &_green {
      background: #23b324;
    }
    &_red {
      background: #ff3333;
    }
    &_purple {
      background: #c62cff;
    }
  }

  &_size {
    &_xxs {
      width: 2.4rem;
      height: 2.4rem;
    }
    &_xs {
      width: 3.2rem;
      height: 3.2rem;
    }
    &_s {
      width: 4rem;
      height: 4rem;
    }
    &_m {
      width: 6rem;
      height: 6rem;
    }
    &_l {
      width: 8rem;
      height: 8rem;
    }
  }
}
