.layout {
  display: grid;
  width: 100%;

  &__container {
    width: 100vw;
    justify-content: stretch;
    background-color: var(--bg-color--default);

    &_align {
      &_center {
        margin: 0 auto;
      }
    }

    &_size {
      &_s {
        max-width: 92rem;
      }

      &_m {
        max-width: 128rem;
      }
    }

    &_space-v {
      &_xxxxl {
        padding-left: var(--gap--xxxxl);
        padding-right: var(--gap--xxxxl);
      }

      &_xxxxxl {
        padding-left: var(--gap--xxxxxl);
        padding-right: var(--gap--xxxxxl);
      }
    }

    &_indent-b {
      &_xxl {
        margin-bottom: var(--gap--xxl);
      }

      &_xxxxl {
        margin-bottom: var(--gap--xxxxl);
      }
    }
  }
}
