.cover {
  min-height: 47.2rem;
  width: 100%;

  &__info {
    width: 100%;
  }

  &__preview {
    margin-bottom: var(--gap--l);
    padding-bottom: 1px;
    width: 100%;
  }

  &__preview .image {
    height: 18rem;
    border: 0.3rem solid var(--border-color);
    padding-bottom: 1px;
  }

  &__footer {
    width: 100%;
  }
}
