.event {
  min-height: 40rem;

  &__footer {
    width: 100%;
  }

  &__preview {
    display: flex;
    justify-content: center;
    margin-bottom: var(--gap--xxl);

    .avatar {
      margin-right: calc(var(--gap--xs) / 2);
    }

    .brand-logo {
      margin-left: calc(var(--gap--xs) / 2);
    }
  }

  &__title {
    position: relative;
    top: 1px;
    margin-bottom: var(--gap--s);
  }

  &__description {
    position: relative;
    top: 1px;
  }
}
