.product {
  min-height: 30rem;
  border: 0.3rem solid var(--border-color);

  & .image {
    height: 16rem;
    background-color: var(--bg-color--default);
    border: 0.3rem solid var(--bg-color--default);
  }

  &__content {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: var(--gap--m);
  }

  &__title {
    position: relative;
    bottom: 2px;
    margin-bottom: var(--gap--xxxl);
  }

  &__footer {
    position: absolute;
    bottom: 0;
    padding: var(--gap--m);

    .text_size_s {
      position: relative;
      top: 1px;
    }
  }
}

.layout__container {
  /* .product__title {
    padding-bottom: var(--gap--xxxl);
  } */
  /* .section_space-v_xxxxl {
    padding-bottom: var(--gap--xxxl);
  } */

  /* .product {
    position: relative;
    bottom: 6px;
  } */
}
