.product {
  min-height: 30rem;
  border: 0.3rem solid var(--border-color);

  & .image {
    height: 16rem;
    background-color: var(--bg-color--default);
    border: 0.3rem solid var(--bg-color--default);
  }

  &__content {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: var(--gap--m);
  }

  &__title {
    margin-bottom: var(--gap--xxxxl);
  }

  &__footer {
    position: absolute;
    bottom: 0;
    padding: var(--gap--m);

    .text_size_s {
      position: relative;
      top: 1px;
    }
  }
}
