.warning {
  display: grid;
  align-items: self-start;
  height: 100%;
  min-height: 33.5rem;

  background: var(--bg-color--default);

  border: 0.3rem solid var(--border-color);

  &__content {
    justify-items: center;
    align-items: center;
    padding: var(--gap--xxl);

    .text {
      margin-top: 2px;
      --word-height: 12px;
    }
  }

  &__button-wrapper {
    align-items: end;
    margin-top: 2px;
    padding: var(--gap--xl);

    @media (max-width: 1024px) {
      position: relative;
      top: 8px;
    }
  }

  .placeholder {
    margin-top: var(--gap--m);
    margin-bottom: var(--gap--m);
  }
}
