.list {
  display: grid;

  &_border {
    &_all {
      border: 0.3rem solid var(--border-color);
    }
  }

  &_view {
    &_default {
      background: var(--bg-color--default);
    }
  }

  &__item {
    &_border {
      &_bottom:not(:last-child) {
        border-bottom: 0.3rem solid var(--border-color);
      }

      &_top {
        border-top: 0.3rem solid var(--border-color);
      }
    }

    &_distribute {
      &_between {
        justify-content: space-between;
        justify-items: space-between;
      }
    }

    &_vertical-align {
      align-items: center;
    }

    &_indent-t {
      &_m {
        margin-top: var(--gap--m);
      }
    }

    &_indent-b {
      &_s {
        margin-bottom: var(--gap--s);
      }

      &_m {
        margin-bottom: var(--gap--m);
      }

      &_l {
        margin-bottom: var(--gap--l);
      }

      &_xl {
        margin-bottom: var(--gap--xl);
      }
    }

    &_space-b {
      &_s {
        padding-bottom: var(--gap--s);
      }
    }

    &_space-a {
      &_m {
        padding: var(--gap--m);
      }
    }
  }
}
